.App {
    font-size:150%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.q {
  border:1px solid black;
  margin-bottom: 2%;
  padding:2%;
}

button {
  padding:2% 5% 2% 5%;
  margin:1%;
  background-color: hsl(220,100%,40%);
  border:none;
  color:white;
  border-radius: 25px;
}
.hide {
  display:none;
}
.answered {
  background:gray;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
